.auth-container {
    text-align: center;
  }
  
  .auth-title {
    color: rgb(62, 100, 176);
    font-size: 2.75rem;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .auth-input {
    margin-top: 3.125rem;
    font-size: 2.75rem;
    width: 37.5rem;
    padding: 1.5625rem;
    border: 1px solid #ccc;
    border-radius: 1.875rem;
    background-color: #f0f0f0;
  }
  
  .auth-button {
    margin-top: 1.25rem;
    font-size: 2.75rem;
    width: 37.5rem;
    padding: 1.5625rem;
    background-color: #3E64B0;
    color: white;
    border: none;
    border-radius: 1.875rem;
    cursor: pointer;
  }
  
  .auth-forgot-password {
    font-size: 1.75rem;
    width: 37.5rem;
    padding: 1.5625rem;
    background-color: white;
    color: #3E64B0;
    border: none;
    border-radius: 1.875rem;
    cursor: pointer;
    text-decoration: underline;
  }
@media (max-width: 700px) {
    .auth-input,
    .auth-button,
    .auth-forgot-password {
      width: 60%;
    }
  
    .auth-title {
      font-size: 2rem; 
    }
  
    .auth-input {
      font-size: 1.5rem;
    }
  
    .auth-button,
    .auth-forgot-password {
      font-size: 1.5rem; 
    }
  }