/* Check.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.header {
    background-color: #89A8B2;
    font-size: 44px;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    font-family: 'Source Code Pro', cursive;
  }
  
  .header-text {
    font-family: 'Source Code Pro', cursive;
    margin: 0; 
  }