.post-container {
    text-align: center;
  }
  
  .post-title {
    color: rgb(62, 100, 176);
    font-size: 2.75rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
  
  .post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
  }
  
  .post-input {
    margin-bottom: 5rem;
    margin-top: 1.25rem;
    font-size: 2.75rem;
    width: 37.5rem;
    padding: 1.5625rem;
    border: 1px solid #ccc;
    border-radius: 1.875rem;
    background-color: #f0f0f0;
  }
  
  .post-button {
    margin-bottom: 5rem;
    margin-top: 1.25rem;
    font-size: 2.75rem;
    width: 37.5rem;
    padding: 1.5625rem;
    background-color: #3E64B0;
    color: white;
    border: none;
    border-radius: 1.875rem;
    cursor: pointer;
  }
  
  @media (max-width: 700px) {
    .post-input,
    .post-button {
      width: 60%;
    }
  
    .post-title {
      font-size: 2rem; 
    }
  
    .post-input {
      font-size: 1.5rem; 
    }
  
    .post-button {
      font-size: 1.5rem; 
    }
  }